*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: red;
  border: 1px solid black;
  margin: 25px;
  padding: 10px;
}

.nav {
  background-color: lightblue;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
}